
@mixin tarjeta-b($display,$justify,$flex,$margin){
  display: $display;  
  justify-content: s$justify;
  flex-flow: $flex;
  margin: $margin;
}

@mixin mobile-lg {
  
  @media (max-width: 567px) {
  
      @content  
    }
  
}