.tarjeta{
    border: 1px solid $color-primario;  
    margin-bottom: 30px;    
    background-color: $color-terciario;
  
  
  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   &__titulo{
    display: flex;
    justify-content: center;
  }
  &__text{
    display: flex;
    justify-content: center;
  }
  &__boton{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $color-primario;  
  &:hover{
    background-color: $color-secundario;
    } 
}
}

.tarjeta--blancos{
  @extend.tarjeta;
  background-color: $color-blancos;
  
  

  
}
.contenedor{
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 25px;
}

.tarjeta-bodegas{
  width: 33%;
  margin-top: 50px;
  @media (max-width: 600px) {
  
      width: 300px;
    }
  

  background-color: $color-blancos;
  border: solid 2px black;
  text-align: center;
}

%tarjerta{
  width: 200px;
  height: 300px; 
  background-color: $color-blancos;
  border-radius:16px;
}